.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border: 0.5px solid grey;
  height: 40px;
  border-radius: 3px;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton {
  background: #f0c14bd8;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
.login__signInButton:hover {
  background: #f0c14b;
}
.login-hr {
  margin: 5px;
}
.login-newtoAmazon-title {
  font-size: 13px;
  text-align: center;
  color: #7f8386;
  font-weight: 500;
}
.login__registerButton {
  text-align: center;
  text-decoration: none;
  background: #e7e9ec;
  color: black;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #adb1b8 #a2a6ac #8d9096;
}
.login__registerButton:hover {
  color: black;
  background-color: #d4d6da;
}
