.checkoutProduct {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.checkoutProduct__checkbox {
  width: 20px;
  height: 20px;
  margin: 20px;
}
.checkoutProduct__body {
  display: flex;
}
.checkoutProduct__image__wrap {
  width: 160px;
}
.checkoutProduct__image__wrap > img {
  width: 100%;
  object-fit: cover;
}
.checkoutProduct__info__body__wrap {
  width: 100%;
}
.checkoutProduct__info {
  padding-left: 20px;
  width: 60%;
}
.checkoutProduct__title__price__wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.checkoutProduct__title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
  color: #007185;
  margin: 0;
  width: 60%;
  padding-left: 20px;
}
.checkoutProduct__qty__wrap {
  font-size: 14px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.checkoutProduct__qty {
  margin: 0;
}
.dropdown__qty {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
}
.dropdown__qty > li {
}

.checkoutProduct__btn {
  font-size: 14px;
  padding: 0 20px;
  background-color: white;
  border: none;
  color: #007185;
  border-right: 0.1px solid #b9e0e7;
  border-left: 0.1px solid #b9e0e7;
}
.save__for__later__button {
  width: 130px;
}
.checkoutProduct__compare {
  width: 160px;
  font-size: 12px;
  color: #007185;
  background-color: white;
  border: none;
}
.checkoutproduct__compare {
  text-decoration-line: underline;
}
.checkoutProduct__compare:hover {
  text-decoration-line: underline;
}
.checkoutProduct__price {
  right: 0;
  color: black;
}
